
.futebol{
    background-image: linear-gradient(rgba(0, 128, 0, 0.521));
    color: rgb(0, 0, 0);
    display: flex;
    padding: 30px 45;
}

.jogo de tiro{
    background-image: linear-gradient((green));
    color: black;
    padding: 30px 45;
    display: flex;
}

.jogo do mundo{
    background-color: aqua;
    background-image: linear-gradient(blue);
    padding: 30px 45;
    color: black;
    display: flex;
}

.mapa do brasil{
    background-color: rgb(137, 197, 177);
    background-image: linear-gradient(rgba(128, 128, 128, 0.637));
    padding: 30px 45;
    display: flex;
    color: black;
}